{
  "jsc": {
    "target": "esnext",
    "parser": {
      "syntax": "typescript",
      "jsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "experimental": {
      "plugins": [["@swc/plugin-emotion", {}]]
    }
  }
}
